---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 80
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackParameters: false